# General
*.sh
*.lammps
exclude-list
*.pkl

# report
report/out_dir/*.aux
report/out_dir/*.fdb_latexmk
report/out_dir/*.fls
report/out_dir/*.log
report/out_dir/*.out
report/out_dir/*.synctex.gz
report/out_dir/*.toc
report/sections
# assignment 1
assign_1/*.dcd
assign_1/*.data
assign_1/*.restart
assign_1/*.png
assign_1/*.svg

# assignment 2
assign_2/epsilon*
assign_2/test_topos
assign_2/short_run
assign_2/*.svg

# assignment 3
assign_3/bottlebrush
assign_3/test_topos
assign_3/linear

# assignment 4
assign_4/salt*


